img {
    height: 250px;
    width: 200px;
    float: left;
    margin: 1em;
}

a {
    color:black;
}

a:hover {
    color:aqua;
    background-color:lightpink;
    text-decoration:none;
}

footer {
    clear:both;
}